@model tp_sveikatele.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="bg-login"></div>
    <div class="container container-login">
        <div class="form-container">
            <h2>Prisijungti</h2>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username">Naudotojo vardas</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Slaptažodis</label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label">Prisiminti mane</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Prisijungti</button>
            </form>
        </div>
    </div>
</body>
</html>

