@{
    ViewData["Title"] = "Apie mus";
}

<div class="text-center">
    <h1 class="display-4">Apie mus</h1>
</div>
<p>Mes esame Kauno technologijos universiteto studentai - Gabija ir Kornelija, Emilis, Timonas ir Titas. Visi mėgstame aktyvų laisvalaikį. Pagalvojome, kad būtų šaunu, jeigu egzistuotų svetainė, kurioje galėtume žymėti ir sekti savo sportiškas veiklas. Taip gimė idėja šiai svetainei. Tikimės, kad ši svetainė bus naudinga ne tik mums, bet ir visai sporto entuziastų bendruomenei.</p>

