@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section">
    <div class="hero-content">
        <h1>PAKEISK SAVO GYVENIMĄ ŠIANDIEN</h1>
        <p>Prisijunk prie mūsų ir pasiek savo tikslus.</p>
        <a asp-controller="Account" asp-action="Register" class="btn-hero">Prisijunk Dabar</a>
    </div>
</section>
