@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh; /* Covers the full view height */
        background: url('/images/vege.png') no-repeat center center/cover;
        background-attachment: fixed; /* Optional */
    }

    .hero-section {
        text-align: center;
        padding-top: 20vh; /* Adjust the padding as needed */
    }

    .hero-content {
        max-width: 600px;
        margin: 0 auto;
    }

        .hero-content h1 {
            font-size: 3.5rem; /* Increase the font size */
            color: #fff;
        }

        .hero-content p {
            font-size: 1.5rem; /* Increase the font size */
            color: #fff;
            margin-bottom: 30px; /* Add space between h1 and p */
        }

    .btn-hero, .btn-spin {
        display: block;
        margin: 15px auto;
        width: 200px; /* Adjust the width as needed */
        background-color: #007bff;
        color: #fff;
        font-size: 1rem;
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .btn-hero:hover, .btn-spin:hover {
            background-color: #0056b3;
        }
</style>

<section class="hero-section">
    <div class="hero-content">
        <h1>PAKEISK SAVO GYVENIMĄ ŠIANDIEN</h1>
        <p>Prisijunk prie mūsų ir pasiek savo tikslus.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Register" class="btn-hero">Prisijunk Dabar</a>
        }
        <h2>Užsimotyvuok dienai:</h2>
        <a href="~/Home/SpinWheel" class="btn-spin">Dienos motyvacija</a>
    </div>
</section>


