@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh; /* Covers the full view height */
        background: url('/images/vege.png') no-repeat center center/cover;
        background-attachment: fixed; /* Optional */
    }
</style>

<section class="hero-section">
    <div class="hero-content">
        <h1>PAKEISK SAVO GYVENIMĄ ŠIANDIEN</h1>
        <p>Prisijunk prie mūsų ir pasiek savo tikslus.</p>
        <a asp-controller="Account" asp-action="Register" class="btn-hero">Prisijunk Dabar</a>
    </div>
</section>
