@model tp_sveikatele.DTOS.AddTrainingDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            background: url('/images/vege.png') no-repeat center center/cover;
            background-size: cover;
            background-position: center;
            background-attachment: fixed; /* Optional */
        }

        h1, h2, h3, h4, h5, h6, p, .text-white {
            color: white;
        }

        .container {
            position: relative;
            z-index: 1;
        }

        .save-btn {
            padding: 10px;
            margin-top: 10px;
        }

        .form-group label {
            color: white;
        }

        .form-group input {
            color: black; /* Ensures the input text is readable */
        }

        .form-group {
            color: white; /* Ensures the label and text within form groups are white */
        }
    </style>
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Įveskite savo pratimo detales</h2>
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="exercise" class="font-weight-bold">Pratimas:</label>
                    <select class="form-control" id="exercise" name="Pratimas" required>
                        <option value="">Pasirinkite pratimą</option>
                        <option value="Squats">Pritūpimai</option>
                        <option value="Bench Press">Presas ant suoliuko</option>
                        <option value="Deadlifts">Mirties trauka</option>
                        <option value="Lat Pull">Traukimas žemyn</option>
                        <option value="Lat Raises">Šoninis svorio kėlimas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="weight" class="font-weight-bold">Naudotas svoris: (kg)</label>
                    <input type="number" class="form-control" id="weight" name="Svoris" required>
                </div>
                <div class="form-group">
                    <label for="sets" class="font-weight-bold">Setai:</label>
                    <input type="number" class="form-control" id="sets" name="Setai" required>
                </div>
                <div class="form-group">
                    <label for="reps" class="font-weight-bold">Pakartojimai:</label>
                    <input type="number" class="form-control" id="reps" name="Pakartojimai" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block save-btn">Išsaugoti</button>
                </div>
            </form>
        </div>
    </div>
</div>
