@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        h2{
            color:white;
        }
        .container {
            position: relative;
            z-index: 1;
        }

        .save-btn {
            padding: 10px;
            margin-top: 10px;
        }

        .form-group{
            color: black;
        }
    </style>
</head>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Įveskite savo pratimo detales</h2>
                <form asp-action="SaveWorkout" method="post">
                <div class="form-group">
                    <label for="exercise" class="font-weight-bold">Pratimas:</label>
                    <select class="form-control" id="exercise" name="exercise" required>
                        <option value="">Pasirinkite pratimą</option>
                        <option value="Squats">Pritūpimai</option>
                        <option value="Bench Press">Presas ant suoliuko</option>
                        <option value="Deadlifts">Mirties trauka</option>
                        <option value="Lat Pull">Traukimas žemyn</option>
                        <option value="Lat Raises">Šoninis svorio kėlimas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="weight" class="font-weight-bold">Naudotas svoris: (kg)</label>
                    <input type="number" class="form-control" id="weight" name="weight" required>
                </div>
                <div class="form-group">
                    <label for="sets" class="font-weight-bold">Setai:</label>
                    <input type="number" class="form-control" id="sets" name="sets" required>
                </div>
                <div class="form-group">
                    <label for="reps" class="font-weight-bold">Pakartojimai:</label>
                    <input type="number" class="form-control" id="reps" name="reps" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block save-btn">Išsaugoti</button>
                </div>
            </form>
        </div>
    </div>
</div>
