body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, footer {
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-login {
    background: url('/images/vege.png') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}